/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body 
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px


.form-field 
    width: 100%

.w100 
    width: 100%    

.mat-snack-bar-container--error 
    background-color: #f44336;
    color: white;